//add
.order-add-g{
    padding: 0 150px;
}
.order-add-g .ant-form-item-control {
    width: 200px;
    .ant-calendar-picker{
        width: 200px !important;
    }
}
.order-add-g .title{
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    position: relative;
}
.ant-form-item-label{
    width: 100px;
}


//增加旅客按钮
.passengerButton{
    width: 170px;
    position: absolute;
    right: -80px;
    top:0;
    .ant-btn{
       position: absolute;
       top:10px;
       &:first-child{
           left: 0;
       }
       &:last-child{
           right: 0;
       }
    }
}
.passenger-list{
    .ant-table-thead > tr > th {
        text-align: center;
    }
    .ant-table-tbody > tr > td {
        text-align: center;
    }
}

//提交
.order-submit .ant-row .ant-btn {
    width: 100px;
    margin-left: 500px;
}   