//订单搜索表单
.order-search-g {
    border-bottom: 1px solid #eee;
    .order-search {
        margin-bottom: 20px;
    }
}

//订单按钮
.order-menu {
    padding:20px 115px;
    .add-order{
        margin-right: 20px;
    }
}


