//添加角色样式
.loungeBtn{
    margin-bottom: 10px;
    padding-left: 100px;
    .ant-btn{
        margin-right: 10px;
    }
}
//休息室表
.station-lounges{
    .ant-btn{
        margin:0 0 10px 470px;
    }
    .ant-table-thead > tr > th {
        text-align: center;

    }
    .ant-table-tbody > tr > td {
        text-align: center;

    }
}
.ant-select-enabled{
    width: 200px !important;
}
// .ant-row{
//     margin-top: 10px;
// }
.box{
    margin-top: 0px !important;
    padding:0px 0px !important;
}
.ant-form-horizontal{
    margin-top:0px !important
}


.node circle {
            cursor: pointer;
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font-size: 11px;
        }

        path.link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }
